<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AffordIQ.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AffordIQAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AffordIQAuth0.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AffordIQControls.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AffordIQFoundation.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AffordIQMocks.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>AffordIQNetworkKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>AffordIQUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>AffordIQVision.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>Code Coverage.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>NotificationServiceExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D1EDEE8294C725B006CCEED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4C6A692A4AB90000A54031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCE880B82A4ACE1D00330393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E21692662553043700D09AB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E22D0C6A25D6BC6700D746F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E24F5AD5253DA051006B2009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E24F5AEB253DA054006B2009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E252AA94253DAB2800FFE284</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD856DD328648A5D00E593B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
