<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54614018395-87s0od5oshmc0nj6sd0ne0hho2g3eq7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54614018395-87s0od5oshmc0nj6sd0ne0hho2g3eq7s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>54614018395-jcv4qm7bvmvqn4dr639tjqnr9mjn1t9s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCC7DNRvl5xXERJjlDzqWHNI_z3RCe0UBE</string>
	<key>GCM_SENDER_ID</key>
	<string>54614018395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blackarrowgroup.affordiq</string>
	<key>PROJECT_ID</key>
	<string>affordiq</string>
	<key>STORAGE_BUCKET</key>
	<string>affordiq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54614018395:ios:e786f14fe3af032c6bf27e</string>
</dict>
</plist>